[Unit]
Description=Pyntara dnsproxy system resolver
After=network-online.target
Wants=network-online.target
[Service]
Type=simple
User=root
Group=root
ExecStart=${exec_start}
Restart=on-failure
RestartSec=${service_restart_seconds}
LogRateLimitIntervalSec=${log_rate_limit_interval_seconds}
LogRateLimitBurst=${log_rate_limit_burst}

[Install]
WantedBy=multi-user.target
