[Unit]
Description=System Metrics service
# Deployed by Pyntara $version
After=local-fs.target

[Service]
Type=simple
StandardOutput=null
Restart=on-failure
$exec_lines

[Install]
WantedBy=multi-user.target
