[Unit]
Description=Create and activate the swap file
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
$exec_lines
ExecStop=/sbin/swapoff $swapfile_path

[Install]
WantedBy=multi-user.target
