[Unit]
Description=Create and activate the swap file
After=local-fs.target
RequiresMountsFor=$swapfile_path

[Service]
Type=oneshot
RemainAfterExit=yes
$exec_lines
ExecStop=$swapoff_path $swapfile_path

[Install]
WantedBy=multi-user.target
