[Unit]
Description=Router port forwarding timer
# Deployed by Pyntara $version

[Timer]
OnBootSec=$boot_delay_seconds
OnUnitActiveSec=$interval_seconds
Unit=$service_unit_name

[Install]
WantedBy=timers.target
